@import url("https://fonts.googleapis.com/css?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css?family=Parisienne|Rozha+One&display=swap");
html {
  font-size: 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
header{
  width: 100%;
  position: fixed;
  z-index: 2;
}
#navar-color {
  background-color: red;
  height: 50px;
  border-bottom: 0.5em solid green;
}
.container {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
}
.container-1{
  display: flex;
  width: 90%;
  margin: auto;
}
.clr {
  clear: both;
}
.container-1 nav {
  margin-left: auto;
}
ul li {
  display: inline;
  box-sizing: border-box;
  margin: 1em;
}
.container-section {
  margin: auto;
  display: flex;
}
nav,
#button,
.logo {
  padding: 0.5em;
  margin: auto 0;
}
.logo {
  cursor: pointer;
  line-height: 0;
  text-align: center;
  z-index: 1;
  margin: auto 0;
  /* transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-delay: .5s; */
}
.logo h1 {
  font-family: "Parisienne", cursive;
  color: orange;
  font-weight: 900;
  font-size: 2rem;
  padding: 0 2px;
  text-shadow: -1px 2px 2px black;
}
/* transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-out;
  transition-delay: .5s;
 */
.logo p {
  font-family: "Rozha One", serif;
  font-weight: 900;
  color: white;
  font-size: 1rem;
  padding: 0;
  text-shadow: -1px 2px 2px black;
}
li a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 900;
  color: whitesmoke;
}
button {
  background-color: red;
  border: none;
  font-size: 0.9rem;
  font-weight: 900;
  color: whitesmoke;
}

#header-img {
  background-image: url(images/background.jfif);
  width: 100%;
  height: 600px;
  max-height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.container-center {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: relative;
}
#caption {
  margin: auto;
  background-color: rgba(228, 236, 227, 0.171);
}
#caption p {
  color: white;
  font-size: 3rem;
  text-align: center;
  word-spacing: 0.2em;
  letter-spacing: 0.1rem;
  text-shadow: -2px 1px black;
  font-weight: 600;
}
.logo-main {
  background-color: red;
  width: 80px;
  border-radius: 50%;
  border: 1px solid green;
  margin: auto;
  /* position: absolute;
  left: 83%;
  top: 34.6rem; */
}

video {
  width: 100%;
  max-width: 471px;
  height: auto;
}
.container-section {
  display: flex;
  flex-direction: column;
}
.container-section .col {
  width: 100%;
}
.products {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  justify-content: space-evenly;
}
.product-container {

  min-width: 117.52px;
  height: 100px;
  margin: 1rem 0;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.product-container p {
  text-align: center;
  padding: 0;
  margin: 2px;
  font-weight: 900;
}

footer {
  background-color: darkgrey;
  font-size: 1.5rem;
}
footer p {
  text-align: center;
}
.container span {
  color: aliceblue;
}
#small-footer {
  font-size: 1rem;
}
.container-footer {
  margin: 2px;
  padding: 2px;
  line-height: 0;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ...;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-section {
    height: 100%;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:
    "v v v v v v h h h h h h"
    "v v v v v v a a a a a a"
    "f f f f f f f f f f f f"
  }
  #video {
    grid-area: v;
    /* display: none; */
  }
  #home {
    grid-area: h;
  }
  #about {
    grid-area: a;
  }
  #features {
    grid-area: f;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  html{
    font-size: 16px;
  }
  #navar-color {
    background-color: red;
    height: 60px;
    border-bottom: 0.5em solid green;
  }
  .container-section {
    height: 100%;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 160px 150px ;
    grid-template-areas:
    "h h h h h h h h h h h h"
    "v v v v v a a a a a a a"
    "v v v v v f f f f f f f"
  }
  #video {
    grid-area: v;
    /* display: none; */
  }
  #home {
    grid-area: h;
  }
  #about {
    grid-area: a;
  }
  #features {
    grid-area: f;
  }
  /* .product-container{
    width: 300px ;
  } */
  .logo-main{
    display: none;
  }
#email{
  width: 450px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* .container-section{
  height: 100%;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 40px 40px 40px;
  grid-template-areas: 
  "v v v v v v v v h h h h"
  "v v v v v v v v a a a a"
  "f f f f f f f f f f f f";
}
#video{
  grid-area: v;
}
#home{
  grid-area: h;
}
#about{
  grid-area: a;
}
#features{
  grid-area: f;
} */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* .container-section{
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 2rem 2rem;
    grid-template-areas: 
    "v v v v v v v v h h h h"
    "v v v v v v v v a a a a"
    "f f f f f f f f f f f f";
  }
  #video{
    grid-area: v;
  }
  #home{
    grid-area: h;
  }
  #about{
    grid-area: a;
  }
  #features{
    grid-area: f;
  } */
}
#form-center
{
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
#form-center h1,
form{
  align-self: center;
}
#contact {
  display: flex;
  justify-content: center;
}

#contact li a{
  color: black;
}